input[type="file"] {
    display: none;
}
.custom-file-upload {
    border-radius: 5px;
    background-color: #cb4b16;
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    cursor: pointer;
}